
body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  margin: 0;
}
.bg {
  /* The image used */
  background-image: url("../images/ezgif.gif");
  text-align: center;
  /* Full height */
  width: auto; 
  height: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

} 

.Press {
  padding-top: 45%;
  color: #707070;
}
.Press:hover {
  padding-top: 45%;
  color:  aliceblue;
}

.primary{
  color: #272743!important;
}
.secondry{
  color: #2D698D!important;
}
.primary-bg{
  background-color: #272743!important;
}

.bg-secondry{
  background-color: #2D698D!important;
} 

.login-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.primary-color{
  color: #272743;
}


.form-control{
  display: inline;
  width: 85%;
  margin: 10px;
}

.m-10{
  margin: 140px!important;
}
.px-10{
  padding-left: 35%!important;
  padding-right: 35%!important;
}


.gradient-prim{
  background: rgb(39,39,67);
background: linear-gradient(0deg, rgba(39,39,67,0.6250875350140056) 0%, rgba(34,193,195,1) 100%); 
}


.img-part{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}



.bg-sec{
  background-color:#BAE8E8 ;
}

.w-cust{
  max-width: 80%!important;
}

.max-h{
  max-height: 280px !important;
  height: auto;

}

.img-detail{
  width: 100%;
}

span{
  font-size: 25px;
}
.d-font{
  font-size: 100%;
}

h1{
  font-size:2vw !important;
}
h2{
  font-size:1vw !important;
}
h3{
  font-size:1vw !important;
}
